# Neovim
nvim/plugin/
nvim/lazy-lock.json

# Browsers
qutebrowser/bookmarks/
qutebrowser/quickmarks
chromium/
sqlitebrowser/
netsurf/

# GUIs
QtProject/
inkscape/
libreoffice/
keepassxc/
GIMP/
teams-for-linux/

# TUIs
irssi/
neofetch/
procps/
htop/

# Others
autostart/
cava/shaders/
tmux/plugins
ncmpcpp/error.log
dconf/
gtk-3.0/bookmarks
pulse/
mimeapps.list
mpd/playlists
