# Neovim stuff
config/nvim/lazy-lock.json
config/nvim/plugin/

# qutebrowser
config/qutebrowser/bookmarks/
config/qutebrowser/quickmarks

# Audio & Media
config/cava/shaders/
config/mpd/playlists
config/ncmpcpp/error.log

# tmux
config/tmux/plugins
