* {
    border-radius: 0px;
    margin: 0px;
    outline: none;
    padding: 0px;
}

#window {
    background: #333333;
    border: #33aaaa solid 2px;
    font-family: JetBrainsMonoNerdFont;
    font-size: 1rem;
}

#outer-box {
    padding: 8px;
}

#input {
    background-color: #111111;
    border: #33aaaa solid 2px;
    color: white;
    margin-bottom: 4px;
    padding: 2px 8px;
}

#inner-box {
    background: transparent;
}

#text {
    padding: 2px;
}

#entry:selected {
    background: #33aaaa;
    color: white;
}

#entry {
    background-color: #4a4a4a;
    border-radius: 2px;
    margin: 2px 0px;
    padding: 2px;
    color: #bbbbbb;
}

expander list {
    background-color: #333333;
    padding: 2px;
}
